* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: #e9ecef;
}

h2 {
  margin: 25px 0;
}

section {
  margin-top: 25px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

